<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FilterLists</title>
    <base href="~/"/>
    <meta name="description" content="FilterLists is the independent and comprehensive directory of all public filter and hosts lists for advertisements, trackers, malware, and annoyances. Project by Collin M. Barrett."/>
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true"/>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true"/>
    </environment>
</head>
<body>
@RenderBody()

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@RenderSection("scripts", false)
</body>
</html>