.rt-tr {
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

div.rt-tbody, div.rt-thead.-filters, div.rt-thead.-header { min-width: 320px !important; }

.fl-wrap-cell {
    line-height: 1;
    white-space: normal;
}