# From default Visual Studio .NET Core template
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/azds.yaml
**/charts
**/bin
**/obj
**/Dockerfile
**/Dockerfile.develop
**/docker-compose.yml
**/docker-compose.*.yml
**/*.dbmdl
**/*.jfm
**/secrets.dev.yaml
**/values.dev.yaml
**/.toolstarget

# Other common
**/.gitattributes
**/.github
**/docker-compose.dcproj
**/*.DotSettings*
**/node_modules
**/*.md
LICENSE

# FilterLists custom
FilterLists.sln
FilterLists.Api.sln
imgs
ops
data/TPLSubscriptionAssistant.html