**/.git
**/.github
.gitattributes
.gitignore
**/.vs
**/.vscode
**/images
**/ops
codecov.yml
.dockerignore
docker-compose.yml
docker-compose.*.yml
FilterLists.sln
*.DotSettings*
LICENSE
**/bin
**/obj
**/node_modules