.env
**/.git
.gitattributes
.gitignore
**/.github
**/.vs
**/.vscode
.dockerignore
docker-compose.yml
docker-compose.*.yml
docker-compose.dcproj
**/bin
**/obj
**/.sln
**/node_modules
*.DotSettings*
LICENSE
**/images
**/ops