version: "3.7"

services:
  nginx:
    image: nginx:alpine
    restart: always
    networks:
      - reverse-proxy
    depends_on:
      - web
      - api
    volumes:
      - ./ops/nginx/svr-includes:/etc/nginx/svr-includes:ro

  web:
    image: collinbarrett2/filterlists.web:latest
    restart: always
    build:
      context: ./web
      target: final
    networks:
      - reverse-proxy

  api:
    image: collinbarrett2/filterlists.api:latest
    restart: always
    build:
      context: .
      dockerfile: src/FilterLists.Api/Dockerfile
      target: final
    networks:
      - reverse-proxy
      - api
    depends_on:
      - mariadb
    environment:
      ConnectionStrings__FilterListsConnection: ${API_CONNECTION_STRING}

  mariadb:
    image: mariadb:latest
    restart: always
    networks:
      - api
    volumes:
      - data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${API_MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${API_MYSQL_DATABASE}
      MYSQL_USER: ${API_MYSQL_USER}
      MYSQL_PASSWORD: ${API_MYSQL_PASSWORD}
    command:
      [
        "mysqld",
        "--character-set-server=utf8mb4",
        "--collation-server=utf8mb4_unicode_520_ci",
      ]

  agent:
    image: collinbarrett2/filterlists.agent:latest
    build:
      context: .
      dockerfile: src/FilterLists.Agent/Dockerfile
      target: final
    volumes:
      - archives:/app/archives
    environment:
      ApplicationInsights__InstrumentationKey: ${AGENT_APPLICATION_INSIGHTS_INSTRUMENTATION_KEY}
      Archive__RepositoryDirectory: ${AGENT_ARCHIVE_GIT_REPOSITORY_DIRECTORY}
      Archive__SignatureName: ${AGENT_ARCHIVE_GIT_SIGNATURE_NAME}
      Archive__SignatureEmail: ${AGENT_ARCHIVE_GIT_SIGNATURE_EMAIL}
      Archive__CommitMessageSuffix: ${AGENT_ARCHIVE_GIT_COMMIT_MESSAGE_SUFFIX}
      ConnectionString__FilterListsConnection: ${API_CONNECTION_STRING}
      FilterListsApi__BaseUrl: ${AGENT_FILTERLISTS_API_BASE_URL}
      FilterListsApi__ClientUserAgent: ${AGENT_FILTERLISTS_API_CLIENT_USER_AGENT}
      GitHub__ProductHeaderValue: ${AGENT_GITHUB_PRODUCT_HEADER_VALUE}
      GitHub__PersonalAccessToken: ${AGENT_GITHUB_PERSONAL_ACCESS_TOKEN}
      GitHub__RepositoryOwner: ${AGENT_GITHUB_REPOSITORY_OWNER}
      GitHub__Repository: ${AGENT_GITHUB_REPOSITORY}

networks:
  reverse-proxy:
  api:

volumes:
  data:
  archives:
