version: "3.7"

services:
  nginx:
    ports:
      - "80:80"
    volumes:
      - ./ops/nginx/conf.d.dev:/etc/nginx/conf.d:ro

  api:
    build:
      dockerfile: server/src/FilterLists.Api/debug.Dockerfile
