# overrides for production deployment

version: "3.7"

services:
  reverse-proxy:
    ports:
      - "${REVERSE_PROXY_HOST_PORT_HTTPS}:443"
    depends_on:
      - web
    volumes:
      - ./reverse-proxy/conf.d:/etc/nginx/conf.d:ro
      - ~/cert:/etc/nginx/cert:ro

  web:
    image: ghcr.io/collinbarrett/filterlists-web
    restart: always
    networks:
      - reverse-proxy
    depends_on:
      - directory-api
