/*https://projects.lukehaas.me/css-loaders/#load1*/

.loader,
.loader:before,
.loader:after {
    -ms-animation: load1 1s infinite ease-in-out;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    background: #000000;
    height: 4em;
    width: 1em;
}

.loader {
    -ms-transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    -webkit-transform: translateZ(0);
    animation-delay: -0.16s;
    color: #000000;
    font-size: 11px;
    margin: 88px auto;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    left: -1.5em;
}

.loader:after { left: 1.5em; }

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}