<mat-sidenav-container>
  <mat-sidenav
    fixedInViewport
    [attr.role]="'dialog'"
    [mode]="'over'"
    opened="true"
    position="end"
  >
    <ng-container *ngIf="listDetails$ | async as listDetails">
      <div
        gdLayout
        gdColumns.gt-md="repeat(3, 1fr)"
        gdColumns.gt-sm="repeat(2, 1fr)"
        gdColumns="1fr"
        gdGap="8px"
      >
        <filterlists-header [listDetails]="listDetails"></filterlists-header>
        <filterlists-syntaxes
          [syntaxes]="listDetails.syntaxes"
        ></filterlists-syntaxes>
        <filterlists-software
          [software]="listDetails.software"
        ></filterlists-software>
        <filterlists-languages
          [languages]="listDetails.languages"
        ></filterlists-languages>
        <filterlists-tags [tags]="listDetails.tags"></filterlists-tags>
        <filterlists-links [listDetails]="listDetails"></filterlists-links>
        <filterlists-links-info
          [listDetails]="listDetails"
        ></filterlists-links-info>
        <ng-container *ngFor="let maintainer of listDetails.maintainers">
          <filterlists-maintainer
            [maintainer]="maintainer"
          ></filterlists-maintainer>
        </ng-container>
        <filterlists-license
          [license]="listDetails.license"
        ></filterlists-license>
        <filterlists-upstream-lists
          [upstreamLists]="listDetails.upstreamFilterLists"
        ></filterlists-upstream-lists>
        <filterlists-fork-lists
          [forkLists]="listDetails.forkFilterLists"
        ></filterlists-fork-lists>
        <filterlists-included-in-lists
          [includedInLists]="listDetails.includedInFilterLists"
        ></filterlists-included-in-lists>
        <filterlists-includes-lists
          [includesLists]="listDetails.includesFilterLists"
        ></filterlists-includes-lists>
        <filterlists-dependency-lists
          [dependencyLists]="listDetails.dependencyFilterLists"
        ></filterlists-dependency-lists>
        <filterlists-dependent-lists
          [dependentLists]="listDetails.dependentFilterLists"
        ></filterlists-dependent-lists>
      </div>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content> </mat-sidenav-content>
</mat-sidenav-container>
