<mat-sidenav-container>
  <mat-sidenav
    fixedInViewport
    [attr.role]="'dialog'"
    [mode]="'over'"
    opened="true"
    position="end"
  >
    <ng-container *ngIf="listDetails$ | async as listDetails">
      <h2>{{ listDetails.name }}</h2>
      <ng-container *ngFor="let maintainer of listDetails.maintainers">
        <filterlists-maintainer-details
          [maintainer]="maintainer"
        ></filterlists-maintainer-details>
      </ng-container>
      <filterlists-license-details
        [license]="listDetails.license"
      ></filterlists-license-details>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content> </mat-sidenav-content>
</mat-sidenav-container>
