**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

# FilterLists Services custom ignores

**/azure-pipelines*.yaml
**/*.sln
**/*.sln.DotSettings
Directory/FilterLists.Directory.Api/appsettings.Development.json
Directory/data/*