# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

# Code quality analysis
[*.cs]
dotnet_diagnostic.CA1812.severity = suggestion
dotnet_diagnostic.CA2007.severity = none