<mat-card *ngIf="syntaxes?.length" class="mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>Syntaxes</mat-card-title>
    <!-- <mat-card-subtitle></mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content
    ><mat-chip-list>
      <ng-container *ngFor="let syntax of syntaxes">
        <mat-chip matTooltip="{{ syntax.description }}"
          >{{ syntax.name }}
        </mat-chip>
      </ng-container>
    </mat-chip-list>
  </mat-card-content>
  <!-- <mat-card-actions> </mat-card-actions> -->
</mat-card>
