# Adds an Entity Framework Core migration to a pull request that changes data in data/*.json

trigger: none

pr:
  autoCancel: true
  branches:
    include: [master]
  paths:
    include: [data/*]

pool:
  vmImage: ubuntu-latest

steps:
  - checkout: none

  # TODO: Replace $SYSTEM_PULLREQUEST_SOURCEREPOSITORYURI with fork's URI. https://stackoverflow.com/q/60188806/2343739
  - bash: |
      git clone $SYSTEM_PULLREQUEST_SOURCEREPOSITORYURI .
      git checkout $SYSTEM_PULLREQUEST_SOURCEBRANCH
    displayName: checkout source branch

  # TODO: Merge latest data/* and server/src/FilterLists.Data.Migrations/* from origin/master.
  # TODO: If data/* and server/src/FilterLists.Data.Migrations/* change in origin/master, re-trigger this Pipeline.

  - bash: |
      LASTMSG=$(git log -n 1 --pretty=format:"%s")
      echo "Last commit message: $LASTMSG"
      if [[ "$LASTMSG" == "migrate PR #$SYSTEM_PULLREQUEST_PULLREQUESTNUMBER" ]] ; then
        echo "Just migrated. Exiting..."
        echo "##vso[task.setvariable variable=aborted;isOutput=true]true"
      fi
    displayName: abort if just migrated
    name: abortIfJustMigrated

  - task: UseDotNet@2
    displayName: use latest dotnet sdk
    inputs:
      version: 3.x
    condition: and(ne(variables['abortIfJustMigrated.aborted'], 'true'), succeeded())

  - script: dotnet tool install -g dotnet-ef
    displayName: install ef dotnet tool
    condition: and(ne(variables['abortIfJustMigrated.aborted'], 'true'), succeeded())

  - bash: |
      git config --global user.name "$GITHUBNAME"
      git config --global user.email "$GITHUBEMAIL"
    displayName: git config
    env:
      GitHubName: $(GitHub.Name)
      GitHubEmail: $(GitHub.Email)
    condition: and(ne(variables['abortIfJustMigrated.aborted'], 'true'), succeeded())

  - bash: |
      MIGLIST=$(dotnet ef migrations list -p FilterLists.Data.Migrations -s FilterLists.Api)
      echo "$MIGLIST"
      if [[ "$MIGLIST" == *$SYSTEM_PULLREQUEST_PULLREQUESTNUMBER ]] ; then
        echo "A migration already exists for PR #$SYSTEM_PULLREQUEST_PULLREQUESTNUMBER, reverting..."
        REVERTHASH=$(git log --grep="migrate PR #$SYSTEM_PULLREQUEST_PULLREQUESTNUMBER" -n 1 --pretty=format:"%H")
        git revert --no-edit $REVERTHASH
      else
        echo "No migration exists yet for PR #$SYSTEM_PULLREQUEST_PULLREQUESTNUMBER."
      fi
    displayName: revert any existing migration for PR
    workingDirectory: server/src
    condition: and(ne(variables['abortIfJustMigrated.aborted'], 'true'), succeeded())

  - script: dotnet ef migrations add $(System.PullRequest.PullRequestNumber) -p FilterLists.Data.Migrations -s FilterLists.Api
    displayName: add migration
    workingDirectory: server/src
    condition: and(ne(variables['abortIfJustMigrated.aborted'], 'true'), succeeded())

  - bash: |
      DIFF=$(git diff --numstat | wc -l )
      echo "$DIFF files changed"
      if (( $DIFF != 3 )) ; then
        echo "noop migration. Effective EF migrations change 3 files (.Designer.cs, .cs, and *ModelSnapshot.cs). Abandoning..."
      else
        git add .
        git commit -m "migrate PR #$(System.PullRequest.PullRequestNumber)"
      fi
    displayName: commit or abandon migration
    condition: and(ne(variables['abortIfJustMigrated.aborted'], 'true'), succeeded())

  - bash: |
      git config --global credential.helper store
      echo "https://$GITHUBPAT:x-oauth-basic@github.com" >> ~/.git-credentials
      git push origin $SYSTEM_PULLREQUEST_SOURCEBRANCH
    displayName: git push
    env:
      GitHubPat: $(GitHub.Pat)
    condition: and(ne(variables['abortIfJustMigrated.aborted'], 'true'), succeeded())
