@{
    ViewData["Title"] = "Subscriptions for uBlock Origin, Adblock Plus, AdGuard, ...";
}
<div id="react-app">Loading...</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}