@{
    ViewData["Title"] = "Home";
}

<div id="react-app">Loading...</div>

<noscript>
    <p>FilterLists is built with ReactJS and therefore requires first-party JavaScript to be enabled. We do not use any third-party JavaScript, and your privacy is very important to us. If you prefer not to enable JavaScript or your browser does not support it, the data is largely available on <a href="https://github.com/collinbarrett/FilterLists">our GitHub repo</a>.</p>
</noscript>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}