body, h2, h3, h4, h5, blockquote {
    font-size: 16px;
}

.rt-tr {
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.fl-btn-details-action {
    margin-bottom: .2rem;
    max-width: 100px;
}