<mat-card *ngIf="maintainer" class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>{{ maintainer.name }}</mat-card-title>
    <mat-card-subtitle>Maintainer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- TODO: Expander that fetches and displays maintainer's other lists -->
  </mat-card-content>
  <mat-card-actions>
    <a
      *ngIf="maintainer.url"
      mat-icon-button
      [attr.aria-label]="'Visit {{maintainer.name}}\'s homepage'"
      matTooltip="Visit {{ maintainer.name }}'s homepage"
      href="{{ maintainer.url }}"
      ><mat-icon color="primary">home</mat-icon></a
    >
    <a
      *ngIf="maintainer.twitterHandle"
      mat-icon-button
      [attr.aria-label]="'Visit {{maintainer.name}}\'s Twitter profile'"
      matTooltip="Visit {{ maintainer.name }}'s Twitter profile"
      href="https://twitter.com/{{ maintainer.twitterHandle }}"
      ><img
        src="assets/twitter-brands.svg"
        height="20"
        width="20"
        alt="Twitter icon"
    /></a>
    <a
      *ngIf="maintainer.emailAddress"
      mat-icon-button
      [attr.aria-label]="'Email {{maintainer.name}}'"
      matTooltip="Email {{ maintainer.name }}"
      href="mailto:{{ maintainer.emailAddress }}"
      ><mat-icon color="primary">email</mat-icon></a
    >
  </mat-card-actions>
</mat-card>
