<mat-card *ngIf="dependentLists?.length as length" class="mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>Dependent{{ length > 1 ? 's' : '' }}</mat-card-title>
    <mat-card-subtitle
      >FilterList{{ length > 1 ? 's' : '' }} that depend{{
        length > 1 ? '' : 's'
      }}
      on this list</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      <mat-list-item *ngFor="let dependent of dependentLists">
        <a matLine [routerLink]="['/lists', dependent.id]">
          <mat-icon mat-list-icon style="transform: rotate(270deg)"
            >turn_right</mat-icon
          >{{ dependent.name }}</a
        >
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
  <!-- <mat-card-actions> </mat-card-actions> -->
</mat-card>
