<mat-card *ngIf="includesLists?.length as length" class="mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>Includes List{{ length > 1 ? 's' : '' }}</mat-card-title>
    <mat-card-subtitle
      >FilterList{{ length > 1 ? 's that have' : ' that has' }} been bundled in
      this list</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      <mat-list-item *ngFor="let includesList of includesLists">
        <a matLine [routerLink]="['/lists', includesList.id]">
          <mat-icon mat-list-icon style="transform: rotate(270deg)"
            >merge</mat-icon
          >{{ includesList.name }}</a
        >
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
  <!-- <mat-card-actions> </mat-card-actions> -->
</mat-card>
