<mat-card *ngIf="license" class="mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>{{ license.name }}</mat-card-title>
    <mat-card-subtitle>License</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <ng-container *ngIf="license.permitsModification; else elseBlock"
        ><mat-icon>check_box</mat-icon></ng-container
      >
      <ng-template #elseBlock
        ><mat-icon>check_box_outline_blank</mat-icon></ng-template
      >
      Permits Modification
    </div>
    <div>
      <ng-container *ngIf="license.permitsDistribution; else elseBlock"
        ><mat-icon>check_box</mat-icon></ng-container
      >
      <ng-template #elseBlock
        ><mat-icon>check_box_outline_blank</mat-icon></ng-template
      >
      Permits Distribution
    </div>
    <div>
      <ng-container *ngIf="license.permitsCommercialUse; else elseBlock"
        ><mat-icon>check_box</mat-icon></ng-container
      >
      <ng-template #elseBlock
        ><mat-icon>check_box_outline_blank</mat-icon></ng-template
      >
      Permits Commercial Use
    </div>
  </mat-card-content>
  <mat-card-actions gdLayout gdColumns="repeat(3, 1fr)">
    <a
      *ngIf="license.url"
      mat-raised-button
      [attr.aria-label]="'Visit {{license.name}}\'s homepage'"
      matTooltip="Visit {{ license.name }}'s homepage"
      href="{{ license.url }}"
      ><mat-icon>home</mat-icon> Home</a
    >
  </mat-card-actions>
</mat-card>
