trigger:
  batch: false
  branches:
    include: [master]
  paths:
    include:
      [
        web/*,
        docker-compose/docker-compose.yml,
        docker-compose/docker-compose.prod.yml
      ]

pr:
  autoCancel: false
  branches:
    include: [master]
  paths:
    include:
      [
        web/*,
        docker-compose/docker-compose.yml,
        docker-compose/docker-compose.prod.yml
      ]

pool:
  vmImage: ubuntu-latest

variables:
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_BUILDKIT: 1

steps:
  - checkout: self
    fetchDepth: 5

  - task: Docker@2
    displayName: build
    inputs:
      containerRegistry: github-container-registry
      repository: collinbarrett/filterlists-web
      command: build
      Dockerfile: web/Dockerfile
      buildContext: ./web
      tags: |
        latest
        $(Build.BuildId)
      addPipelineData: false

  - task: Docker@2
    displayName: push
    inputs:
      containerRegistry: github-container-registry
      repository: collinbarrett/filterlists-web
      command: push
      tags: |
        latest
        $(Build.BuildId)
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))

  - task: CopyFiles@2
    displayName: stage docker-compose files
    inputs:
      SourceFolder: $(Build.SourcesDirectory)/docker-compose
      Contents: |
        docker-compose.yml
        docker-compose.prod.yml
      TargetFolder: $(Build.ArtifactStagingDirectory)
      CleanTargetFolder: true
      OverWrite: true
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))

  - task: PublishBuildArtifacts@1
    displayName: publish docker-compose files
    inputs:
      PathtoPublish: $(Build.ArtifactStagingDirectory)
      ArtifactName: drop
      publishLocation: Container
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
